# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=nestuser
POSTGRES_PASSWORD=nestpassword
POSTGRES_DB=nestdb

# JWT
JWT_SECRET=troque_por_uma_chave_forte
JWT_EXPIRES_IN=7d

# Application
NODE_ENV=development
PORT=3001
UPLOAD_DIR=./uploads

# CORS
FRONTEND_URL=http://localhost:3000
